<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
    <title>Title</title>
</head>

<body>
<!-- HEADER (NAVBAR) -->
<header th:replace="plantilla/template :: header"></header>
<div class="container">
<form th:action="@{/views/propietats/save}" method="post">
    <div class="row">

        <fieldset class="row">
            <div th:each="cl:${caracteristiques}" class="col-1">
                <input class="form-check-input"  type="checkbox" th:value="${cl.id_caracteristica}"/>
                <label class="form-check-label"  th:text="${cl.caracteristica}"></label>
            </div>
        </fieldset>
        <div class="col-1 mt-2 form-group">
            <input type="submit" id="boto-submit" class="btn btn-primary" value="Guardar" />
        </div>
    </div>
</form>
</div>
<!-- FOOTER -->
<footer th:replace="plantilla/template :: footer"></footer>

<!-- CODI JAVASCRIPT -->

</body>

</html>