<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="plantilla/template :: head(type='tag')"></div>

    <!-- Validacio Formulari de Crear Nova Tarifa i editar Tarifa -->
    <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>
</head>

<body>

<header th:insert="plantilla/template :: header"></header>

<div class="container">

    <main>

        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/views/propietats/' + ${id}}">Llista de Propietats</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/views/propietats/configurar/' + ${idPROPIETAT}}">Propietat</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear Bloqueig</li>
            </ol>
        </nav>

        <div class="row">

            <div class="card bg-light mt-3 mb-3">

                <div class="card-header bg-light">Crear Bloqueig</div>

                <div class="card-body bg-light">

                    <form th:object="${bloqueig}" th:action="@{/views/bloqueig/save}" method="post" onsubmit="return validacioBloqueig()">
                        <div class="mb-3">
                            <label for="casa" class="form-label">Propietat</label>
                            <select type="text" class="form-control" id="casa" aria-describedby="emailHelp" th:field="*{propietat}" readonly>
                                <option th:each="propietat:${propietats}"
                                        th:value="${propietat.idPROPIETAT}"
                                        th:text="${propietat.nomPropietat}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dataIni" class="form-label">Data Inici </label>
                            <input type="date" class="form-control" id="dataIni" th:field="*{dataInici}">
                            <div id="dataIniSpan" class="form-text">Indica quin dia comença el nou bloqueig</div>
                            <div id="validacioDataIni" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="dataFi" class="form-label">Data Final</label>
                            <input type="date" class="form-control" id="dataFi" th:field="*{dataFinal}">
                            <div id="dataFiSpan" class="form-text">Indica quin dia finalitza el nou bloqueig.</div>
                            <div id="validacioDataFi" class="form-text"></div>
                        </div>
                        <div class="col-1 mt-2 form-group">
                            <input type="submit" class="btn btn-primary" id="boto-submit-bloqueig" value="Guardar" />
                        </div>
                    </form>
                    <hr>
                    <a class="nav-link" th:href="@{'/views/propietats/configurar/' + ${propietats.idPROPIETAT}}">Tornar enrere -></a>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <div th:replace="plantilla/template :: footer"></div>
    </footer>

    <script th:inline="javascript">
        $(document).ready(function() {

            $("#boto-submit-bloqueig").click(function () {

                validarFormBloqueig();

                if (campsCorrectes !== 2){
                    campsCorrectes = 0;
                }
            });
        });
    </script>

</div>
</body>

</html>