<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="plantilla/template :: head(type='tag')"></div>
  <title>Crear Politica</title>

  <!-- Validacio Formulari de Crear Nova Tarifa i editar Tarifa -->
  <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>
</head>

<body>

<header th:replace="plantilla/template :: header"></header>

<div class="container">

  <main>

    <div class="row">

      <div class="card bg-light mt-3 mb-3">

        <div class="card-header bg-light">Afegir Politica</div>

        <div class="card-body bg-light">

          <form th:object="${politica}" th:action="@{/views/propietats/politiques/save}" method="post" onsubmit="return validacioPolitica()">
            <div class="mb-3">
              <label for="casa" class="form-label">Id propietat: </label>
              <select type="text" class="form-control" id="casa" aria-describedby="emailHelp" th:field="*{propietat}" readonly>
                <option th:each="propietat:${propietats}"
                        th:value="${propietat.idPROPIETAT}"
                        th:text="${propietat.nomPropietat}"></option>
              </select>
            </div>
            <div class="row">
            <div class="mb-3 col-6">
              <input type="hidden" th:field="*{idPolitica}">
              <label for="antelacio" class="form-label">Dies d'antelació: </label>
              <input type="text" class="form-control" id="antelacio" th:field="*{dies}">
              <div id="validacioAntelacio" class="form-text"></div>
            </div>
            <div class="mb-3 col-6">
              <label for="perdut" class="form-label">Dies: </label>
              <input type="text" class="form-control" id="perdut" th:field="*{perdut}">
              <div id="validacioPerdut" class="form-text"></div>
            </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Afegir" id="boto-submit-politica" />
          </form>
        </div>

      </div>
    </div>
  </main>

  <footer th:replace="plantilla/template :: footer"></footer>

  <script>

    $(document).ready(function() {

      $("#boto-submit-politica").click(function () {
        validarFormPolitica();

        console.log(campsCorrectes);

        if (campsCorrectes !== 2){
          campsCorrectes = 0;
        }
      });
    });

  </script>

</div>
</body>

</html>