<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="plantilla/template :: head(type='tag')"></div>
</head>
<body>
<div th:insert="plantilla/template :: header" class="position-sticky top-0 navb p-0"></div>
<main class="container text-center">
  <div class="container">


    <h1>A CADUCAT LA SESSIÓ</h1>
    <a th:href="@{'/'}">Tornar al login -></a>

  </div>


</main>
<footer>
  <div th:replace="plantilla/template :: footer"></div>
</footer>
</body>
</html>