<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="plantilla/template :: head(type='tag')"></div>
    <title>Home</title>
</head>
<body>
    <header th:replace="plantilla/template :: header"></header>
    <div class="container text-center">
        <h3 th:text="${home}"></h3>
        <h4>Teoricament no pots accedir a aquesta part sense estar registrat i tenir un usuari.</h4>
        <ul>
            <li>
                <p>Estas registrat? Fes loggin!</p>
                <a th:href="@{/autenticate/loggin}">Log In</a>
            </li>
            <br>
            <li>
                <p>No estas registrat? Registret!</p>
                <a th:href="@{/autenticate/register}">Register</a>
            </li>
        </ul>
    </div>
    <footer>
        <div th:replace="plantilla/template :: footer"></div>
    </footer>
</body>
</html>