<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
    <div class="container">
        <h1 th:text="${titulo}"></h1>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Pelicula</th>
                <th scope="col">director</th>
                <th scope="col">Genere</th>
                <th scope="col">any</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cl:${pelicules}" >
                <th scope="row" th:text="${cl.id}" class="row">1</th>
                <td  th:text="${cl.pelicula}"></td>
                <td  th:text="${cl.director}"></td>
                <td  th:text="${cl.genere}"> </td>
                <td  th:text="${cl.any}"></td>

            </tr>

            </tbody>
        </table>
    </div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>