<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="plantilla/template :: head(type='tag')"></div>

    <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>

</head>
<body class="d-block">
<div th:insert="plantilla/template :: header" class="position-sticky top-0 navb p-0"></div>

<main class="container">
    <div class="row">
        <div class="col-4"></div>
        <form class="col-4 border-start border-end shadow-lg bg-body rounded p-5" th:object="${usuari}" th:action="@{/autenticate/autenticate}" method="post" onsubmit="return validacioLogin()">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center mt-3">Inicia Sessió</h3>
                    <h2 th:if="${registrat}!=null " th:text="${registrat}"></h2>
                </div>
            </div>
           <div class="row mt-4">
               <div class="col-12">
                   <label for="correu" class="form-label"> Correu electronic </label>
                   <input  class="form-control" th:type="text" id="correu" th:name="correu" th:field="*{correu}">
                   <div id="validacioCorreu" class="form-text"></div>
               </div>
               <div class="col-12">
                   <label for="contrasenya" class="form-label"> Contrasenya </label>
                   <input  class="form-control" th:type="password" id="contrasenya" th:name="contrasenya" th:field="*{contrasenya}">
                   <div id="validacioPass" class="form-text"></div>
               </div>
           </div>
            <div class="row">
                <div class="col-12 mt-4 mb-4 text-center">
                    <input type="submit" class="btn btn-primary" value="Loggin" id="boto-submit-login" />
                    <a th:href="@{/autenticate/register}"><input type="button" class="btn btn-primary" value="Register" /></a>
                </div>
            </div>
        </form>
        <div class="col-4"></div>
    </div>
</main>

<script th:inline="javascript">

    $(document).ready(function() {

        $("#boto-submit-login").click(function () {

            validarFormLogin();

            if (campsCorrectes !== 2){
                campsCorrectes = 0;
            }
        });
    });

</script>

</body>

<footer class="fixed-bottom" >
    <div th:replace="plantilla/template :: footer"></div>
</footer>

</html>