<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="plantilla/template :: head(type='tag')"></div>

  <!-- Validacio Formulari -->
  <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>

</head>
<body class="d-block">
<div th:insert="plantilla/template :: header" class="position-sticky top-0 navb p-0"></div>

<main class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <form th:object="${propietari}" th:action="@{/autenticate/save}" class="col-8 mt-2 p-5 border border-dark shadow-lg bg-body rounded" method="post" onsubmit="return validacioRegister()">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center mt-3">Registre de propietaris</h3>
        </div>
      </div>
      <div class="row mt-4 text-center">
        <div class="col-12">
          <h5 th:if="${repeticioDades}!=null" class="text-danger" th:text="${repeticioDades}"></h5>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <div class="col-6">
          <label for="dni2" class="form-label"> DNI<span class="text-danger">*</span></label>
          <input  class="form-control" th:type="text" id="dni2" th:name="dni2" th:field="*{dni}">
          <div id="validacioDni" class="form-text"></div>
        </div>
        <div class="col-6">
          <label for="nom" class="form-label"> Nom<span class="text-danger">*</span></label>
          <input class="form-control" th:type="text" id="nom" th:name="nom" th:field="*{nom}">
          <div id="validacioNom" class="form-text"></div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label for="llin1" class="form-label"> Primer llinatge<span class="text-danger">*</span></label>
          <input class="form-control" th:type="text" id="llin1" th:name="llin1" th:field="*{llinatge1}">
          <div id="validacioCognom" class="form-text"></div>
        </div>
        <div class="col-6">
          <label for="llin2" class="form-label"> Segon llinatge</label>
          <input class="form-control" th:type="text" id="llin2" th:name="llin2" th:field="*{llinatge2}">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label for="correu" class="form-label"> Correu<span class="text-danger">*</span></label>
          <input class="form-control" th:type="text" id="correu" th:name="correu" th:field="*{correu}">
          <div id="validacioCorreu" class="form-text"></div>
        </div>
        <div class="col-6 mt-2">
          <label for="pass" class="form-label"> Contrasenya<span class="text-danger">*</span></label>
          <input  class="form-control" type="password" id="pass" th:name="pass" th:field="*{contrasenya}">
        </div>
        <div class="col-6 mt-2">
          <label for="pass" class="form-label"> Repeteix la contrassenya<span class="text-danger">*</span></label>
          <input  class="form-control" type="password" id="repeticioPass">
        </div>
        <div id="validacioPass" class="form-text"></div>
      </div>
      <div class="row mt-4">
        <div class="col-12 mb-4 text-center">
          <input type="submit" class="btn btn-outline-dark mb-4" value="Guardar" id="boto-submit-register" />
          <br><a th:href="@{/}">Ja tens un usuari propietari? Inicia sessió!</a>
        </div>
      </div>
    </form>
    <div class="col-2"></div>
  </div>
</main>

<script th:inline="javascript">
  $(document).ready(function() {

    $("#boto-submit-register").click(function () {

      validarFormRegister();

      if (campsCorrectes !== 6){
        campsCorrectes = 0;
      }
    });
  });
</script>

<footer class="fixed-bottom">
  <div th:replace="plantilla/template :: footer"></div>
</footer>

</body>
</html>