<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="plantilla/template :: head(type='tag')"></div>
  <title>Eis</title>
</head>

<body>

<header th:replace="plantilla/template :: header"></header>

<div class="container">

  <main>

    <div class="row">

      <div class="card bg-light mt-3 mb-3">

        <div class="card-header bg-light">Afegir Habitacions</div>

        <div class="card-body bg-light">

          <form th:object="${habitacio}" th:action="@{/views/habitacions/save}" method="post">
            <div class="mb-3">
              <label for="casa" class="form-label">Propietat: </label>
              <select type="text" class="form-control" id="casa" aria-describedby="emailHelp" th:field="*{propietat}" readonly>
                <option th:each="propietat:${propietats}"
                        th:value="${propietat.idPROPIETAT}"
                        th:text="${propietat.nomPropietat}"></option>
              </select>
            </div>
            <div class="mb-3">
              <input type="hidden" th:field="*{idHABITACIONS}">
              <label for="bany" class="form-label"> Banys: </label>
              <select type="text" class="form-control" id="bany" aria-describedby="emailHelp" th:field="*{bany}">
                <option th:value="1"
                        th:text="Si"/>
                <option th:value="0"
                        th:text="No"/>
              </select>

            </div>
            <div class="row">
            <div class="mb-3 col-6">
              <label for="llitDoble" class="form-label">Llits dobles: </label>
              <input type="text" class="form-control" id="llitDoble" aria-describedby="emailHelp" th:field="*{llit_Doble}">

            </div>
            <div class="mb-3 col-6">
              <label for="llitSimple" class="form-label">Llits simples: </label>
              <input type="text" class="form-control" id="llitSimple" aria-describedby="emailHelp" th:field="*{llit_simple}">

            </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Afegir" />
          </form>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <div th:include="plantilla/template :: footer"></div>

  </footer>

</div>
</body>

</html>