<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="plantilla/template :: head(type='tag')"></div>

  <!-- Validacio Formulari de Crear Nova Tarifa i editar Tarifa -->
  <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>
</head>

<body>

<header th:replace="plantilla/template :: header"></header>

<div class="container p-5 margin border-start border-end shadow-lg bg-body rounded">

  <main>

    <div class="row">

      <!-- BREADCRUMB -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{'/views/propietats/' + ${id}}">Llista de Propietats</a></li>
          <li class="breadcrumb-item"><a th:href="@{'/views/propietats/configurar/' + ${idPROPIETAT}}">Propietat</a></li>
          <li class="breadcrumb-item active" aria-current="page">Crear Habitacio</li>
        </ol>
      </nav>

      <div class="card bg-light mt-3 mb-3">

        <div class="card-header bg-light fw-bold">Afegir Habitacions</div>

        <div class="card-body bg-light">

          <form th:object="${habitacio}" th:action="@{/views/habitacions/save}" method="post" onsubmit="return validacioHabitacio()">
            <div class="mb-3">
              <label for="casa" class="form-label">Propietat: </label>
              <select type="text" class="form-control" id="casa" th:field="*{propietat}" readonly>
                <option th:each="propietat:${propietats}"
                        th:value="${propietat.idPROPIETAT}"
                        th:text="${propietat.nomPropietat}"></option>
              </select>
            </div>
            <div class="mb-3">
              <input type="hidden" th:field="*{idHABITACIONS}">
              <label for="bany" class="form-label"> Banys <span class="text-danger">*</span></label>
              <select type="text" class="form-control" id="bany" th:field="*{bany}">
                <option th:value="1"
                        th:text="Si"></option>
                <option th:value="0"
                        th:text="No"></option>
              </select>

            </div>
            <div class="row">
            <div class="mb-3 col-6">
              <label for="llitDoble" class="form-label">Llits dobles <span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="llitDoble" th:field="*{llit_Doble}">
              <div id="validacioDoble" class="form-text"></div>
            </div>
            <div class="mb-3 col-6">
              <label for="llitSimple" class="form-label">Llits simples <span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="llitSimple" th:field="*{llit_simple}">
              <div id="validacioSimple" class="form-text"></div>
            </div>
            </div>
            <div id="errorLlits" class="form-text mb-4 p-3"></div>
            <input type="submit" class="btn btn-primary" value="Afegir" id="boto-submit-habitacio" />
          </form>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <div th:include="plantilla/template :: footer"></div>
  </footer>

  <script th:inline="javascript">

    $(document).ready(function() {

      $("#boto-submit-habitacio").click(function () {

        validarFormHabitacio();

        if (campsCorrectes !== 3){
          campsCorrectes = 0;
        }
      });
    });

  </script>

</div>
</body>

</html>