<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
    <title>Title</title>
</head>

<body>
<!-- HEADER (NAVBAR) -->
<header th:replace="plantilla/template :: header"></header>

<div th:fragment="habitacions"  class="container">

    <h1 th:text="${titulo}"></h1>

    <table id="table_id" class="table">
        <thead>
        <tr>
            <th scope="col">Habitacio</th>
            <th scope="col">bany</th>
            <th scope="col">llit doble</th>
            <th scope="col">llit simple</th>
            <th scope="col">Propietat</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cl:${pelicules}">
            <th th:text="${cl.idHABITACIONS}"></th>
            <td th:text="${cl.bany}"></td>
            <td th:text="${cl.llit_Doble}"></td>
            <td th:text="${cl.llit_simple}"> </td>
            <!--Llegim el nom de propietat a la que pertany l'habitacio -->
            <td th:text="${cl.propietat.nomPropietat}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{'/views/habitacions/delete/' + ${cl.idHABITACIONS}}" th:text="'Eliminar'" title="Eliminar"></a>
            </td>
            <td>
                <!-- Pasam l'id de propietat i d'habitacio per poder editar -->
                <a class="btn btn-success" th:href="@{'/views/habitacions/edit/'+${cl.propietat.idPROPIETAT}+'/'+${cl.idHABITACIONS}} " th:text="'Editar'" title="Editar"></a>
            </td>

        </tr>

        </tbody>
    </table>
    <a th:each="hab:${propietat}" class="btn btn-primary" th:href="@{'/views/habitacions/afegir/'+ ${hab.idPROPIETAT}} " th:text="'Nova Habitacio'" title="Crear nou registre"></a>
</div>

<!-- FOOTER -->
<footer th:replace="plantilla/template :: footer"></footer>

<!-- CODI JAVASCRIPT -->
<script>
    $(document).ready(function() {
        $('#table_id').DataTable();
    });
</script>
</body>

</html>