<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="plantilla/template :: head(type='tag')"></div>
    <!-- Validacio Formulari de Crear Nova Tarifa i editar Tarifa -->
    <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>

    <!-- Full Calendar Boundle -->
    <link th:href="@{/fullcalendar/main.css}" rel='stylesheet' />
    <script th:src="@{/fullcalendar/main.js}" ></script>
    <script th:src="@{/fullcalendar/locales-all.js}" ></script><!-- Idiomes -->

    <script th:inline="javascript">

        var calendar;

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ca', //Idioma
                timeZone: 'UTC', //UTF
                initialView: 'dayGridMonth', //Vista inicial
                //themeSystem: 'Lux',
                //Propietats de height del calendari
                height: 'auto', //Setter -> calendar.setOption('height', 700);
                contentHeight: 600, //Setter -> calendar.setOption('contentHeight', 650);
                themeSystem: 'default',
                navLinks: 'true',
                selectable: 'true', //Fa els dies seleccionables (Tambe en grups (Arrastrant))
                unselectAuto: 'true', //Si esta a true es deseleccionaran els dies seleccionats fent click a cualsevol banda

                //DayClick -> Quan es clica una data
                /*dateClick: function() {
                  $(this).css('border', '2px solid black');
                  $("#modal").show();
                },*/

                //Configuracions marcador setmana de l'any
                weekNumbers: 'true',
                weekText: 'S',
                weekNumberFormat: {week: 'narrow'},

                //Propietats Header i Footer del Calenari Elements [] = Title, prev, next, prevYear, nextYear, today, dayGridView
                headerToolbar: {
                    start: 'prev prevYear', //Elements que apareixen al principi del header
                    center: 'title', //Elements que apareixen al centre del header
                    end: 'nextYear next' //Elements que apareixen al final del header
                },
                footerToolbar: {
                    left: 'botoEspanyol botoCatala botoIngles',
                    center: 'dayGridMonth today',//center: 'dayGridMonth timeGridWeek timeGridDay',
                    right: 'botoTarifes botoBloqueig botoReserves'
                },
                //Aqui podem crear botons custom i indicarli una funcio a executar quan facin click
                customButtons: {
                    botoTarifes: { //Identificador del boto
                        text: 'Tarifes', //Text del boto
                        click: function () {
                            alert('Redirect a tab tarifes!');
                        }
                    },
                    botoBloqueig: {
                        text: 'Bloqueig',
                        click: function () {
                            alert('Redirect a tab Bloqueig!');
                        }
                    },
                    botoReserves: {
                        text: 'Reserves',
                        click: function () {
                            alert('Redirect a tab Reserves!');
                        }
                    },
                    botoEspanyol: {
                        text: 'Español',
                        click: function () {
                            calendar.setOption('locale', 'es');
                        }
                    },
                    botoCatala: {
                        text: 'Catala',
                        click: function () {
                            calendar.setOption('locale', 'ca');
                        }
                    },
                    botoIngles: {
                        text: 'English',
                        click: function () {
                            calendar.setOption('locale', 'en');
                        }
                    }
                },
                textColor: "blue", //Color del text !NO FUNCIONA
                eventSources: [

                    {
                        //Per GET arriben els bloquejos
                        method: "GET", //Metode d'obtencio de les dades
                        url: "/views/tarifes/frmCrearTarifa/" + [[${propietats.idPROPIETAT}]] + "/{idTarifa}", //URL on es passa el JSON
                        //Propietats dels events que arriben per GET
                        display: "background", //Es displayea levent ocupant tot el background del dia
                        backgroundColor: "green", //Color del background
                        borderColor: "black", //Color del border !NO FUNCIONA
                    }

                ],




            });
            calendar.render();
        })
    </script>

</head>

<body>

<header th:insert="plantilla/template :: header"></header>

<div class="container p-5 mt-5 border-start border-end shadow-lg bg-body rounded">

    <main>

        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/views/propietats/' + ${id}}">Llista de Propietats</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/views/propietats/configurar/' + ${idPROPIETAT}}">Propietat</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear Tarifa</li>
            </ol>
        </nav>

        <div class="row">

            <div class="card bg-light mt-3 mb-3">

                <div class="card-header bg-light fw-bold">Afegir Tarifes</div>

                <div class="card-body bg-light">

                    <form th:object="${tarifes}" th:action="@{/views/tarifes/save}" method="post" onsubmit="return validacioTarifa()">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="casa" class="form-label">Propietat</label>
                                    <select type="text" class="form-control" id="casa" aria-describedby="emailHelp" th:field="*{propietat}" readonly>
                                        <option th:each="propietat:${propietats}"
                                                th:value="${propietat.idPROPIETAT}"
                                                th:text="${propietat.nomPropietat}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="preu" class="form-label">Preu <span class="text-danger">*</span></label>
                                    <input type="number" step="any" class="form-control" id="preu" th:field="*{preu}">
                                    <div id="preuSpan" class="form-text">Indica el preu per la nova tarifació durants els dies seleccionats.</div>
                                    <div id="validacioPreu" class="form-text"></div>
                                </div>
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="activa">Estat de la tarifa (Desactivar <- -> Activar)</label>
                                    <input class="form-check-input" type="checkbox" id="activa" th:field="*{activa}">
                                </div>
                                <div class="col-1 mt-5 form-group">
                                    <input type="submit" class="btn btn-primary" value="Guardar" id="boto-submit-tarifa" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="dataIni" class="form-label">Data Inici <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="dataIni" aria-describedby="emailHelp" th:field="*{dataInici}">
                                    <div id="validacioDataIni" class="form-text"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="dataFi" class="form-label">Data Final <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="dataFi" aria-describedby="emailHelp" th:field="*{dataFinal}">
                                    <div id="validacioDataFi" class="form-text"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <a class="nav-link" th:href="@{'/views/propietats/configurar/' + ${propietats.idPROPIETAT}}">Tornar enrere -></a>

                </div>

            </div>
        </div>

        <div class="row">
            <div id='calendar' class="mt-3"></div>
        </div>

    </main>

    <footer th:include="plantilla/template :: footer">

    </footer>

    <script>

        $(document).ready(function() {

            $("#boto-submit-tarifa").click(function () {
                validarFormTarifa();

                console.log(campsCorrectes);

                if (campsCorrectes !== 3){
                    campsCorrectes = 0;
                }
            });
        });

    </script>

</div>
</body>

</html>