<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="plantilla/template :: head(type='tag')"></div>
    <!-- Validacio Formulari de Crear Nova Tarifa i editar Tarifa -->
    <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>

    <title>Editar Tarifa</title>
</head>

<body>

<header th:insert="plantilla/template :: header"></header>

<div id="container">

    <main>

    <div class="row">

        <div class="card bg-light mt-3 mb-3">

            <div class="card-header bg-light">Afegir Tarifes</div>

            <div class="card-body bg-light">

                <form th:object="${tarifa}" th:action="@{/views/tarifes/save}" method="post" onsubmit="return validacioTarifa()">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <input type="hidden" id="idTARIFA" th:field="*{idTARIFA}" />
                                <label for="casa" class="form-label">Propietat</label>
                                <select type="text" class="form-control" id="casa" aria-describedby="emailHelp" th:field="*{propietat}" readonly>
                                    <option th:each="propietat:${propietat}"
                                            th:value="${propietat.idPROPIETAT}"
                                            th:text="${propietat.nomPropietat}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="preu" class="form-label">Preu</label>
                                <input type="number" step="any" class="form-control" id="preu" aria-describedby="emailHelp" th:field="*{preu}">
                                <div id="preuSpan" class="form-text">Indica el preu per la nova tarifació durants els dies seleccionats.</div>
                                <div id="validacioPreu" class="form-text"></div>
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="activa">Estat de la tarifa (Desactivar <- -> Activar)</label>
                                <input class="form-check-input" type="checkbox" id="activa" th:field="*{activa}">
                            </div>
                            <div class="col-1 mt-5 form-group">
                                <input type="submit" class="btn btn-primary" value="Guardar" id="boto-submit-tarifa" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="dataIni" class="form-label">Data Inici </label>
                                <input type="date" class="form-control" id="dataIni" aria-describedby="emailHelp" th:field="*{dataInici}">
                                <div id="validacioDataIni" class="form-text"></div>
                            </div>
                            <div class="mb-3">
                                <label for="dataFi" class="form-label">Data Final</label>
                                <input type="date" class="form-control" id="dataFi" aria-describedby="emailHelp" th:field="*{dataFinal}">
                                <div id="validacioDataFi" class="form-text"></div>
                            </div>
                            <div class="col-1 mt-5 form-group">
                                <a class="btn btn-lg btn-outline-danger" th:href="@{'/views/tarifes/delete/' + ${idTARIFA}}" th:text="'Eliminar Tarifa'" title="Eliminar"></a>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <a class="nav-link" th:href="@{'/views/propietats/configurar/' + ${tarifa.getPropietat().getIdPROPIETAT()}}">Tornar enrere -></a>

            </div>

        </div>
    </div>
</main>



<footer>
    <div th:replace="plantilla/template :: footer"></div>
</footer>
<!-- Codi JavaScript -->
<script>

    $(document).ready(function() {

        $("#boto-submit-tarifa").click(function () {
            validarFormTarifa();

            if (campsCorrectes !== 3){
                campsCorrectes = 0;
            }
        });
    });

</script>
<!-- Boundle Amb API GOOGLE MAPS + KEY (DEVELOPERS)(Ha d'anar passat el codi js) -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCKiIqCdZGrVxx06LSbe7uG3zXOq1Cz5k&callback=myMap"></script>

</div>
</body>

</html>