<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="plantilla/template :: head(type='tag')"></div>
  <!-- Validacio Formulari de Crear Nova Propietat i Editar Propietat -->
  <script type="text/javascript" th:src="@{/js/ValidacionsFormularis/validacionsFormularis.js}"></script>

  <title>Configuracio Propietat</title>

  <!-- Full Calendar Boundle -->
  <link th:href="@{/fullcalendar/main.css}" rel='stylesheet' />
  <script th:src="@{/fullcalendar/main.js}" ></script>
  <script th:src="@{/fullcalendar/locales-all.js}" ></script><!-- Idiomes -->

  <script>

    var calendar;

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'ca', //Idioma
        timeZone: 'UTC', //UTF
        initialView: 'dayGridMonth', //Vista inicial
        //themeSystem: 'Lux',
        //Propietats de height del calendari
        height: 'auto', //Setter -> calendar.setOption('height', 700);
        contentHeight: 600, //Setter -> calendar.setOption('contentHeight', 650);
        themeSystem: 'default',
        navLinks: 'true',
        selectable: 'true', //Fa els dies seleccionables (Tambe en grups (Arrastrant))
        unselectAuto: 'true', //Si esta a true es deseleccionaran els dies seleccionats fent click a cualsevol banda

        //DayClick -> Quan es clica una data
        /*dateClick: function() {
          $(this).css('border', '2px solid black');
          $("#modal").show();
        },*/

        //Configuracions marcador setmana de l'any
        weekNumbers: 'true',
        weekText: 'S',
        weekNumberFormat: {week: 'narrow'},

        //Propietats Header i Footer del Calenari Elements [] = Title, prev, next, prevYear, nextYear, today, dayGridView
        headerToolbar: {
          start: 'prev prevYear', //Elements que apareixen al principi del header
          center: 'title', //Elements que apareixen al centre del header
          end: 'nextYear next' //Elements que apareixen al final del header
        },
        footerToolbar: {
          left: 'botoEspanyol botoCatala botoIngles',
          center: 'dayGridMonth today',//center: 'dayGridMonth timeGridWeek timeGridDay',
          right: 'botoTarifes botoBloqueig botoReserves'
        },
        //Aqui podem crear botons custom i indicarli una funcio a executar quan facin click
        customButtons: {
          botoTarifes: { //Identificador del boto
            text: 'Tarifes', //Text del boto
            click: function () {
              alert('Redirect a tab tarifes!');
            }
          },
          botoBloqueig: {
            text: 'Bloqueig',
            click: function () {
              alert('Redirect a tab Bloqueig!');
            }
          },
          botoReserves: {
            text: 'Reserves',
            click: function () {
              alert('Redirect a tab Reserves!');
            }
          },
          botoEspanyol: {
            text: 'Español',
            click: function () {
              calendar.setOption('locale', 'es');
            }
          },
          botoCatala: {
            text: 'Catala',
            click: function () {
              calendar.setOption('locale', 'ca');
            }
          },
          botoIngles: {
            text: 'English',
            click: function () {
              calendar.setOption('locale', 'en');
            }
          }
        },
        eventSources: [

          {
            //Per GET arriben els bloquejos
            method: "GET", //Metode d'obtencio de les dades
            url: "/views/propietat/configurar/" + [[${propietat.idPROPIETAT}]], //URL on es passa el JSON
            //Propietats dels events que arriben per GET
            display: "background", //Es displayea levent ocupant tot el background del dia
            backgroundColor: "red", //Color del background
            borderColor: "black", //Color del border !NO FUNCIONA
            textColor: "black" //Color del text !NO FUNCIONA
          },
          {
            //Per post arrriben les reserves
            method: "POST",
            url: "/views/propietat/configurar/" + [[${propietat.idPROPIETAT}]], //URL on es passa el JSON
            //Propietats dels events que arriben per POST
            backgroundColor: "green",
            display: "background"
          }

        ]



      });
      calendar.render();
    })
  </script>

</head>

<body>

<header th:insert="plantilla/template :: header"></header>

<div class="container">

  <main>

    <div class="row text-center">
      <p class="fs-1 font-monospace border-dark border-2 border-bottom" th:text="${propietat.nomPropietat}"></p>
    </div>
    <div class="row">

      <div class="col-12">

        <!-- Llista o Menu de Navegacion -->
        <ul class="nav nav-tabs text-dark d-flex justify-content-between" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark active" id="calendari-tab" data-bs-toggle="tab" data-bs-target="#calendari" type="button" role="tab" aria-controls="calendari" aria-selected="false">Calendari</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Dades</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Habitacions</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="caracteristiques-tab" data-bs-toggle="tab" data-bs-target="#caracteristiques" type="button" role="tab" aria-controls="caracteristiques" aria-selected="false">Caracteristiques</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="tarifes-tab" data-bs-toggle="tab" data-bs-target="#tarifes" type="button" role="tab" aria-controls="tarifes" aria-selected="false">Tarifes</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="bloqueig-tab" data-bs-toggle="tab" data-bs-target="#bloqueig" type="button" role="tab" aria-controls="bloqueig" aria-selected="false">Dies de Bloqueig</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="politica-tab" data-bs-toggle="tab" data-bs-target="#politica" type="button" role="tab" aria-controls="politica" aria-selected="false">Politiques de cancelacio</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="reserves-tab" data-bs-toggle="tab" data-bs-target="#reserves" type="button" role="tab" aria-controls="reserves" aria-selected="false">Reserves</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link text-dark" id="fotos-tab" data-bs-toggle="tab" data-bs-target="#fotos" type="button" role="tab" aria-controls="fotos" aria-selected="false">Fotos</button>
          </li>
        </ul>

        <!-- Div General Tabs -->
        <div class="tab-content mt-3" id="myTabContent">

          <!-- Tab-Calendari -->
          <div class="tab-pane fade show active" id="calendari" role="tabpanel" aria-labelledby="calendari-tab">

            <div class="row">

              <div id='calendar' class="mt-3"></div>

            </div>

          </div>

          <!-- Tab Panel Dades Propietat -->
          <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolEditarPropietat}"></div>

              <div class="card-body ">

                <form id="formCrearPropietat" th:object="${propietat}" th:action="@{/views/propietats/save}" method="post" enctype="multipart/form-data" onsubmit="return validacioPropietat()">

                  <div class="row">

                    <div class="col-12 form-group">

                      <div class="mb-3">
                        <input type="hidden" th:field="*{idPROPIETAT}" />
                        <label for="nomPropietat" class="form-label">Nom de la propietat</label>
                        <input type="text" placeholder="ej. Villa Luna" class="form-control" th:field="*{nomPropietat}" id="nomPropietat">
                        <div id="spannom" class="form-text">Nom de la propietat que figura en l'escriptura</div>
                        <div id="validacioNom" class="form-text"></div>
                      </div>

                    </div>
                    <div class="col-6 form-group">

                      <div class="mb-3">
                        <label for="localitat" class="form-label">Localitat</label>
                        <select class="form-control" id="localitat" th:field="*{localitat}">
                          <option value="0" selected>-- Tria la localitat --</option>
                          <option th:each="localitat:${localitats}"
                                  th:value="${localitat.idLOCALITAT}"
                                  th:text="${localitat.nomLocalitat}"></option>
                        </select>
                        <div id="localitatspan" class="form-text">Selecciona la localitat on es localitza la propietat</div>
                        <div id="validacioLocalitat" class="form-text"></div>
                      </div>

                    </div>
                    <div class="col-6 form-group">

                      <div class="mb-3">
                        <label for="direccio" class="form-label">Direccio</label>
                        <input type="text" placeholder="ej. Major 50" class="form-control" id="direccio"  th:field="*{direccio}">
                        <div id="direcciospan" class="form-text">Direccio de la casa amb format Carrer Numero</div>
                        <div id="validacioDireccio" class="form-text"></div>
                      </div>

                    </div>
                    <div class="col-3 form-group">

                      <label for="preuBase" class="form-label">Preu Base</label>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">€</div>
                        </div>
                        <input type="number" step="any" class="form-control" id="preuBase" th:field="*{preuBase}">
                      </div>
                      <div id="preuBasespan" class="form-text">Preu base per dia de la propietat.</div>
                      <div id="validacioPreu" class="form-text"></div>

                    </div>
                    <div class="col-3 form-group">

                      <label for="banys" class="form-label">Banys Comunitaris</label>
                      <input type="number" class="form-control" id="banys" th:field="*{banysPropietat}">
                      <div id="banysSpan" class="form-text">Indica quants de banys compartits (generals) te la teva propietat.</div>
                      <div id="validacioBanys" class="form-text"></div>

                    </div>
                    <div class="col-3 mb-3">
                      <label for="latitud" class="form-label">Latitud de la propietat: </label>
                      <input type="text" th:field="*{y}" id="latitud" class="form-control" readonly/>
                    </div>
                    <div class="col-3 mb-3">
                      <label for="longitud" class="form-label">Longitud de la propietat: </label>
                      <input type="text" th:field="*{x}" id="longitud" class="form-control" readonly/>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6">
                          <div class="row">
                            <div class="col-12 form-group">

                              <div class="mb-3">
                                <label for="descompteSetmana" class="form-label">Descompte Setmanal</label>

                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">%</div>
                                  </div>
                                  <input type="number" class="form-control" id="descompteSetmana" th:field="*{descompteSetmana}">
                                </div>
                                <div id="descompteSetmanaspan" class="form-text">Descompte aplicat en cas de lloguers majors a una setmana</div>
                                <div id="validacioDescompteS" class="form-text"></div>
                              </div>

                            </div>
                            <div class="col-12 form-group">

                              <div class="mb-3">
                                <label for="descompteMes" class="form-label">Descompte Mensual</label>

                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">%</div>
                                  </div>
                                  <input type="number" class="form-control" id="descompteMes" th:field="*{descompteMes}">
                                </div>
                                <div id="descompteMesspan" class="form-text">Descompte aplicat en cas de lloguers majors d'un mes</div>
                                <div id="validacioDescompteM" class="form-text"></div>
                              </div>

                            </div>
                            <div class="col-12 form-group">

                              <div class="mb-3">
                                <label for="w3review" class="form-label">Normes</label><br>
                                <textarea class="form-control" id="w3review"  th:field="*{normes}" rows="4" cols="50">Prohibit fumar</textarea>
                                <div id="normesspan" class="form-text">Aqui pots indicar les normes que dessitjis sobre la teva propietat.</div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div id="googleMap" style="width:100%;height:400px;"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 form-group">

                      <div class="mb-3">
                        <label for="file" class="form-label">Foto Principal</label>

                        <div class="input-group">
                          <input type="file" accept="image/jpg" name="file" class="form-control" id="file" />
                          <div class="input-group-prepend">
                            <div class="input-group-text">#</div>
                          </div>
                        </div>
                        <div id="fotosSpan" class="form-text">Aqui pots afegir la foto principal de la propietat.</div>
                        <div id="validacioFoto" class="form-text"></div>
                      </div>

                    </div>
                    <div class="col-1 mt-2 form-group">
                      <input type="submit" id="boto-submit" class="btn btn-primary" value="Guardar" />
                    </div>
                    <div class="col-1 form-group">

                      <a class="nav-link" th:href="@{/views/propietats/}">
                        <input type="button" class="btn btn-danger" value="Cancelar">
                      </a>
                    </div>

                  </div>

                </form>
              </div>

            </div>
          </div>

          <!-- Tab Panel Habitacions -->
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolEditarHabitacions}"></div>

              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">ID Habitacio</th>
                    <th scope="col">Bany a l'Habitacio?</th>
                    <th scope="col">Nª de Llits Dobles</th>
                    <th scope="col">Nª de Llits Individuals</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="cl:${habitacions}">
                    <th th:text="${cl.idHABITACIONS}"></th>
                    <td th:text="${cl.bany}"></td>
                    <td th:text="${cl.llit_Doble}"></td>
                    <td th:text="${cl.llit_simple}"> </td>
                    <td>
                      <!-- Pasam l'id de propietat i d'habitacio per poder editar -->
                      <a class="btn btn-success" th:href="@{'/views/habitacions/edit/'+${cl.propietat.idPROPIETAT}+'/'+${cl.idHABITACIONS}} " th:text="'Editar Habitació'" title="Editar"></a>
                    </td>
                    <td>
                      <a class="btn btn-danger" th:href="@{'/views/habitacions/delete/' + ${cl.idHABITACIONS}}" th:text="'Eliminar habitació'" title="Eliminar"></a>
                    </td>

                  </tr>

                  </tbody>
                </table>

              </div>
            </div>
            <a th:each="hab:${propietat}" class="btn btn-primary" th:href="@{'/views/habitacions/afegir/'+ ${hab.idPROPIETAT}} " th:text="'Nova Habitacio'" title="Crear nou registre"></a>
          </div>

          <!-- Tab Panel Caracteristiques -->
          <div class="tab-pane fade" id="caracteristiques" role="tabpanel" aria-labelledby="caracteristiques-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolCaracteristiques}"></div>

              <div class="card-body ">
                <div class="row">
                  <form th:action="@{/views/propietats/caracteristiques/save}" method="post" class="col-12">
                  <div  class="row">
      <!--                <fieldset>-->
                          <div th:each="cara:${caracteristiquesProp}" class="col-2 mt-4">
                            <input th:if="${cara.contain}==true" type="checkbox" class="btn-check" th:name="valorCar" th:id="${cara.caracteristica.idCaracteristica}" th:value="${cara.caracteristica.idCaracteristica}" checked/>
                            <input th:unless="${cara.contain}==true" type="checkbox" class="btn-check" th:name="valorCar" th:id="${cara.caracteristica.idCaracteristica}" th:value="${cara.caracteristica.idCaracteristica}"/>
                            <label th:if="${cara.contain}==true" class="btn btn-outline-primary"  th:text="${cara.caracteristica.caracteristica}" th:for="${cara.caracteristica.idCaracteristica}" ></label>
                            <label th:if="${cara.contain}==false" class="btn btn-outline-primary"  th:text="${cara.caracteristica.caracteristica}" th:for="${cara.caracteristica.idCaracteristica}" ></label>
                          </div>

                        <div th:each="ex:${idPropietat}">
                          <input type="hidden" th:name="idPropietat" th:value="${ex}">
                        </div>
      <!--                </fieldset>-->
                  </div>

                    <div class="col-1 mt-2 form-group">
                      <input type="submit" id="boto-submit-caracteristiques" class="btn btn-warning" value="Guardar" />
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>

          <!-- Tab-Tarifes -->
          <div class="tab-pane fade" id="tarifes" role="tabpanel" aria-labelledby="tarifes-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolTarifes}"></div>

              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Id Tarifa</th>
                    <th scope="col">Preu</th>
                    <th scope="col">Data Inici</th>
                    <th scope="col">Data Fi</th>
                    <th scope="col">Activa</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="ta:${tarifes}">
                    <th th:text="${ta.idTARIFA}"></th>
                    <td th:text="${#numbers.formatCurrency(ta.preu)}"></td>
                    <td th:text="${ta.dataInici}"></td>
                    <td th:text="${ta.dataFinal}"> </td>
                    <td th:text="${ta.activa}"></td>
                    <td>
                      <a class="btn btn-success" th:href="@{'/views/tarifes/edit/'+${ta.propietat.idPROPIETAT} +'/'+${ta.idTARIFA}} " th:text="'Configuracio'" title="Editar"></a>
                    </td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <a th:each="tar:${propietat}" class="btn btn-primary mt-3" th:href="@{'/views/tarifes/afegir/'+ ${tar.idPROPIETAT}} " th:text="'Nova Tarifa'" title="Crear nou registre"></a>

          </div><!-- Fi panel tarifes -->

          <!-- Tab-Bloqueigos -->
          <div class="tab-pane fade" id="bloqueig" role="tabpanel" aria-labelledby="bloqueig-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolBloqueig}"></div>

              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Id Bloqueig</th>
                    <th scope="col">Data Inici</th>
                    <th scope="col">Data Fi</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="ta:${bloqueig}">
                    <th th:text="${ta.idBLOQUEIG}"></th>
                    <td th:text="${ta.dataInici}"></td>
                    <td th:text="${ta.dataFinal}"> </td>


                    <td>
                      <a class="btn btn-success" th:href="@{'/views/bloqueig/edit/'+${ta.propietat.idPROPIETAT} +'/'+${ta.idBLOQUEIG}} " th:text="'Editar'" title="Editar"></a>
                    </td>
                    <td>
                      <a class="btn btn-danger" th:href="@{'/views/bloqueig/delete/' + ${ta.idBLOQUEIG}}" th:text="'Eliminar'" title="Eliminar"></a>
                    </td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <a th:each="tar:${propietat}" class="btn btn-primary mt-3" th:href="@{'/views/bloqueig/afegir/'+ ${tar.idPROPIETAT}} " th:text="'Nou Bloqueig'" title="Crear nou registre"></a>


          </div>

          <!-- Tab Panel Politiques -->
          <div class="tab-pane fade" id="politica" role="tabpanel" aria-labelledby="politica-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolPolitiques}"></div>

              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">ID Politica</th>
                    <th scope="col">nº Dies d'antelació</th>
                    <th scope="col">Percentatge de dotbers perdut</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="pol:${politiques}">
                    <th th:text="${pol.idPolitica}"></th>
                    <td th:text="${pol.dies}"></td>
                    <td th:text="${pol.perdut}"> </td>
                    <td>
                      <a class="btn btn-warning" th:href="@{'/views/propietats/politiques/edit/'+${pol.propietat.idPROPIETAT}+'/'+${pol.idPolitica}} " th:text="'Editar Politica'" title="Editar"></a>
                    </td>
                    <td>
                      <a class="btn btn-danger" th:href="@{'/views/propietats/politiques/delete/'+${pol.propietat.idPROPIETAT}+'/'+ ${pol.idPolitica}}" th:text="'Eliminar Politica'" title="Eliminar"></a>
                    </td>

                  </tr>

                  </tbody>

                </table>
              </div>
            </div>
            <a class="btn btn-success" th:object="${propietat}" th:href="@{'/views/propietats/politiques/afegir/'+*{idPROPIETAT}}">Afegir Politica</a>
          </div>

          <!-- Tab-Reserves -->
          <div class="tab-pane fade" id="reserves" role="tabpanel" aria-labelledby="reserves-tab">

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolReserves}"></div>

              <div class="card-body ">

                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Id Reserva</th>
                    <th scope="col">Data Reserva</th>
                    <th scope="col">Data Arribada</th>
                    <th scope="col">Data Sortida</th>
                    <th scope="col">Preu Final</th>
                    <th scope="col">Cancelada?</th>
                    <th scope="col">Eliminar (Cancelar)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="ta:${reserves}">
                    <th th:text="${ta.idReserva}"></th>
                    <td th:text="${ta.dataReserva}"></td>
                    <td th:text="${ta.dArribada}"></td>
                    <td th:text="${ta.dSortida}"></td>
                    <td th:text="${ta.preuFinal}"></td>
                    <td th:text="${ta.cancelada}"></td>
                    <td>
                      <a class="btn btn-success" th:href="@{'/views/reserves/edit/'+${ta.propietat.idPROPIETAT} +'/'+${ta.idReserva}} " th:text="'Cancelar Reserva'" title="Cancelar"></a>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <!-- Tab-Fotos -->
          <div class="tab-pane fade" id="fotos" role="tabpanel" aria-labelledby="fotos-tab">

            <div class="container" id="containerFotos">
              <h3 class="text-center">Fotos de la propietat</h3>

              <div class="row">

                <article class="col-12 border m-4 p-4 border-dark"><img
                        th:src="@{${'/Media/' + nomPropietatSenseEspais + '-media/' + nomPropietatSenseEspais + '-portada.jpg'}}"
                        alt="Foto Portada" class="img-fluid w-100"></article>

              </div>
              <div class="row">

                <!-- Per cada foto secundaria a la carpeta img fara un article.-->
                <th:block th:if="${numeroFotosSecundaries != 0}" th:each="i: ${#numbers.sequence(1, numeroFotosSecundaries)}">

                  <article class="col-4 m-4 p-3 border border-danger">
                    <img
                          th:src="@{${'/Media/' + nomPropietatSenseEspais + '-media/img/' + nomPropietatSenseEspais + '-' + i +'.jpg'}}"
                          alt="Foto Portada" class="img-fluid w-100">
                  </article>

                </th:block>
                <!--
                 <th:block th:each="i: ${#numbers.sequence(0, response.count - 1)}">
                    <button th:if="${response.page == i}" class="active">Dummy</button>
                    <button th:unless="${response.page == i}">Dummy</button>
                </th:block>
                 -->

              </div>

            </div>

            <div class="card  mt-3 mb-3 bg-light">

              <div class="card-header bg-light fw-bold" th:text="${titolFotos}"></div>

              <div class="card-body ">

                <form th:action="@{/views/propietats/fotos/save}" method="post" enctype="multipart/form-data">

                  <div class="row">

                    <div class="col-12 form-group">
                      <div class="mb-3">
                        <input type="hidden" th:field="${propietat.idPROPIETAT}" />
                        <input type="hidden" class="form-control" th:field="${propietat.nomPropietat}">
                      </div>

                      <div class="mb-3">
                        <label for="fotosSecundaries" class="form-label">Fotos</label>
                        <input type="file" accept="image/jpg" class="form-control" name="fotosSecundaries" id="fotosSecundaries" required>
                        <div id="fotosMultipleSpan" class="form-text">Aqui pots afegir totes les fotos que vulguis de la teva propietat (De una en una)</div>
                      </div>

                    </div>


                    <div class="col-1 mt-2 form-group">
                      <input type="submit" id="boto-submit-fotos" class="btn btn-primary" value="Pujar Foto" />
                    </div>

                  </div>
                </form>
              </div>

            </div>

          </div>

      </div> <!-- Fi de tag (DIV) general dels tabs -->

      </div><!-- Fi de tag COL -->

    </div><!-- Fi de Tag ROW -->

  </main>
</div>

<footer>
  <div th:replace="plantilla/template :: footer"></div>
</footer>

<!-- He agut de posar el JavaScript del mapa al fitxer html perque conte caracters incompatibles a un fitxer de JavaScript pur -->
<script>

  function myMap() {

    //Variable que centre el mapa a l'illa de Mallorca (Per defecte)
    var myCenter = new google.maps.LatLng(39.602776, 3.006384);

    //Cream variable amb la location de la propietat.
    var locationPropietat = { lat: [[${propietat.y}]], lng: [[${propietat.x}]] };

    //Aquesta variable definira les variables del mapa
    var mapProp= {
      //Center -> Especifica a on centrar el mapa (Lat, Long)
      center: myCenter,
      //Zoom -> Especifica el nivell de zoom del mapa
      zoom:9,
      //Defineix el tipo de mapa (HYBRID, ROADMAP, SATELLITE, TERRAIN)
      //Setter -> map.setMapTypeId(google.maps.MapTypeId.HYBRID);
      mapTypeId: google.maps.MapTypeId.HYBRID,
      panControl: true,
      zoomControl: true,
      mapTypeControl: true,
      scaleControl: true,
      streetViewControl: true,
      overviewMapControl: true,
      rotateControl: true

    };

    //Aquesta linia crea un mapa dins l'element amb id googleMap
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp)

    //Afegeix un marker amb animacio (Animacio = Botar (Bounce))
    var marker = new google.maps.Marker({
      //Colocam el marker a la localitzacio de la propietat
      position: locationPropietat,
      animation:google.maps.Animation.BOUNCE
    });
    marker.setMap(map);

    //Obrir una finestra quan es clicki el marcador
    var infowindow = new google.maps.InfoWindow({
      content:"Localitzacio de la propietat."
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });

    //Funcio que afegeix un marcador on clicki l'usuari.
    function placeMarker(map, location) {

      if (marker && marker.setMap) {
        marker.setMap(null);
      }

      marker = new google.maps.Marker({
        position: location,
        map: map,
        animation:google.maps.Animation.BOUNCE
      });

      /*S'obri una finestreta damunt el marker amb informaciĂł de les coordenades seleccionades.
      var infowindow = new google.maps.InfoWindow({
        content: 'Les coordenades de la teva propietat son <br> Latitud: '
                + location.lat() +
                '<br>Longitud: '
                + location.lng()
      });
      infowindow.open(map, marker);*/

      $("#latitud").val(location.lat());
      $("#longitud").val(location.lng());

    }

    //Coloca el marcador i obre una finestra per cada marcador.
    google.maps.event.addListener(map, 'click', function(event) {
      console.log(event.latLng);
      placeMarker(map, event.latLng);
    });

    // Zoom fins a 9 quan es clica el marker
    google.maps.event.addListener(marker,'click',function() {
      map.setZoom(9);
      map.setCenter(marker.getPosition());
    });

  }//Fi funcio googleMap
</script>

<script>

  let height = screen.height;

  $(document).ready(function() {


    $("body").css("min-height", height);

    veureTaula();

    //Quan es clica al boto de submit de editar propietat executa la seguent funcio.
    $("#boto-submit").click(function () {

      validarFormPropietat();

      console.log(campsCorrectes);

      if (campsCorrectes !== 9) {
        campsCorrectes = 0;
      }
    });

    //Li estam diguent que quan es clicki en el boto de la pestaña del calendari es torni a renderitzar
    $('button[id="calendari-tab"]').on('shown.bs.tab', function () {
      calendar.render();
    });

  });

</script>

<!-- Boundle Amb API GOOGLE MAPS + KEY (DEVELOPERS)(Ha d'anar passat el codi js) -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCKiIqCdZGrVxx06LSbe7uG3zXOq1Cz5k&callback=myMap"></script>

</body>

</html>