<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head"></head>

<body>

<header th:replace="plantilla/template :: header"></header>

<div class="container mt-4 mb-4">
    <main>
        <div id="errorDiv"></div>
        <form id="formCrearPropietat" th:object="${propietat}" th:action="@{/views/propietats/save}" method="post" onsubmit="return validacio()" enctype="multipart/form-data">

            <div class="row">

                <div class="col-12 form-group">

                    <div class="mb-3">
                        <label for="nomPropietat" class="form-label">Nom de la propietat</label>
                        <input type="text" th:field="*{nomPropietat}" placeholder="ej. Villa Luna" class="form-control" id="nomPropietat">
                        <div id="spannom" class="form-text">Nom de la propietat que figura en l'escriptura</div>
                        <div id="validacioNom" class="form-text"></div>
                    </div>

                </div>
                <div class="col-6 form-group">

                    <div class="mb-3">
                        <label for="localitat" class="form-label">Localitat</label>
                        <select class="form-control" id="localitat" th:field="*{localitat}">
                            <option value="0" selected>-- Tria la localitat --</option>
                            <option th:each="localitat:${localitats}"
                                    th:value="${localitat.idLOCALITAT}"
                                    th:text="${localitat.nomLocalitat}"
                            />
                        </select>
                        <div id="localitatspan" class="form-text">Selecciona la localitat on es localitza la propietat</div>
                        <div id="validacioLocalitat" class="form-text"></div>
                    </div>

                </div>
                <div class="col-6 form-group">

                    <div class="mb-3">
                        <label for="direccio" class="form-label">Direccio</label>
                        <input type="text" placeholder="ej. Major 50" th:field="*{direccio}" class="form-control" id="direccio">
                        <div id="direcciospan" class="form-text">Direccio de la casa amb format Carrer Numero</div>
                        <div id="validacioDireccio" class="form-text"></div>
                    </div>

                </div>
                <div class="col-6 form-group">

                    <div class="mb-3">
                        <label for="preuBase" class="form-label">Preu Base</label>

                        <div class="input-group">
                            <input type="number" th:field="*{preuBase}" class="form-control" id="preuBase">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                        <div id="preuBasespan" class="form-text">Preu base per dia de la propietat.</div>
                        <div id="validacioPreu" class="form-text"></div>
                    </div>

                </div>
                <div class="col-3 form-group">

                    <div class="mb-3">
                        <label for="descompteSetmana" class="form-label">Descompte Setmanal</label>

                        <div class="input-group">
                            <input type="number" th:field="*{descompteSetmana}" class="form-control" id="descompteSetmana">
                            <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                        <div id="descompteSetmanaspan" class="form-text">Descompte aplicat en cas de lloguers majors a una setmana</div>
                        <div id="validacioDescompteS" class="form-text"></div>
                    </div>

                </div>
                <div class="col-3 form-group">

                    <div class="mb-3">
                        <label for="descompteMes" class="form-label">Descompte Mensual</label>

                        <div class="input-group">
                            <input type="number" th:field="*{descompteMes}" class="form-control" id="descompteMes">
                            <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                        <div id="descompteMesspan" class="form-text">Descompte aplicat en cas de lloguers majors d'un mes</div>
                        <div id="validacioDescompteM" class="form-text"></div>
                    </div>

                </div>
                <div class="col-12 form-group">

                    <div class="mb-3">
                        <label for="file" class="form-label">Fotos</label>

                        <div class="input-group">
                            <input type="file" name="file" class="form-control" id="file" />
                            <div class="input-group-prepend">
                                <div class="input-group-text">#</div>
                            </div>
                        </div>
                        <div id="fotosSpan" class="form-text">Aqui pots afegir fotos de la propietat.</div>
                        <div id="validacioFoto" class="form-text"></div>
                    </div>

                </div>

                <div class="col-12 form-group">

                    <div class="mb-3">
                        <label for="w3review" class="form-label">Normes</label><br>
                        <textarea class="form-control" id="w3review" th:field="*{normes}" name="w3review" rows="4" cols="50"></textarea>
                        <div id="normesspan" class="form-text">Aqui pots indicar les normes que dessitjis sobre la teva propietat.</div>
                    </div>

                </div>
                <div class="col-1 mt-2 form-group">
                    <input type="submit" id="boto-submit" class="btn btn-primary" value="Guardar" />

                </div>
                <div class="col-1 form-group">

                    <a class="nav-link" th:href="@{/views/propietats/}">
                        <input type="button" class="btn btn-danger" value="Cancelar">
                    </a>
                </div>

            </div>

        </form>
    </main>
</div>

<footer th:replace="plantilla/template :: footer"></footer>

</div>

<script>

    $(document).ready(function() {

        $("#boto-submit").click(function () {
            validarForm();

            if (campsCorrectes != 6){
                campsCorrectes = 0;
            }
        });
    });

    var campsCorrectes = 0;

    function validacio(){
        var pasaValidacio = false;

        if (campsCorrectes == 6){
            return true;
        }

        if (pasaValidacio == false){
            return false;
        }
    }

    function validarForm(){
        validarNom();
        validarLocalitat();
        validarDireccio();
        validarDescompteSetmana();
        validarDescompteMes();
        validarPreuBase();
    }

    function correcte(input, span){
        $(input).css("border", "2px solid green");
        $(span).css("color", "green");
        $(span).text("Bé");
    }

    function incorrecte(input, span, missatge){
        $(input).css("border", "2px solid red");
        $(span).css("color", "red");
        $(span).text(missatge);
    }

    function validarNom(){

        var nom = $("#nomPropietat").val();

        if (nom === "" || nom === null){
            incorrecte("#nomPropietat", "#validacioNom", "Aquest camp es obligatori")
        } else {
            correcte("#nomPropietat", "#validacioNom")
            campsCorrectes++;
        }
    }

    function validarLocalitat(){
        var localitatvalue = $("#localitat").val();

        if (localitatvalue == 0){
            incorrecte("#localitat", "#validacioLocalitat", "No has seleccionat cap localitat")
        } else {
            correcte("#localitat", "#validacioLocalitat")
            campsCorrectes++;
        }
    }

    function validarDireccio(){

        var direccio = $("#direccio").val();

        if (direccio === "" || direccio === null){
            incorrecte("#direccio", "#validacioDireccio", "Aquest camp es obligatori")
        } else {
            correcte("#direccio", "#validacioDireccio")
            campsCorrectes++;
        }
    }

    function validarPreuBase(){

        var preu = $("#preuBase").val();

        if (preu < 0 || preu == null){
            incorrecte("#preuBase", "#validacioPreu", "El preu de la propietat no pot ser negatiu.")
        } else {
            correcte("#preuBase", "#validacioPreu")
            campsCorrectes++;
        }

    }

    function validarDescompteSetmana(){

      var descM = $("#descompteSetmana").val();

        if (descM > 100 || descM < 0 || descM == null){
            incorrecte("#descompteSetmana", "#validacioDescompteS", "El descompte ha d'estar entre el 0% i el 100%")
        } else {
            correcte("#descompteSetmana", "#validacioDescompteS")
            campsCorrectes++;
        }
    }

    function validarDescompteMes(){

        var descS = $("#descompteMes").val();

        if (descS < 0 || descS > 100 || descS == null){
            incorrecte("#descompteMes", "#validacioDescompteM", "El descompte ha d'estar entre el 0% i el 100%")
        } else {
            correcte("#descompteMes", "#validacioDescompteM")
            campsCorrectes++;
        }
    }




</script>

</body>

</html>