<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="plantilla/template :: head(type='tag')"></div>
    <title>Eis</title>
</head>

<body>

<header th:replace="plantilla/template :: header"></header>

<div class="container">

    <main>

        <h4 th:text="${titolLlistarPropietats}"></h4>

        <div class="row">
            <div class="col-2 mb-4">
                <a class="btn btn-secondary" th:href="@{/views/propietats/create}" th:text="'Nova Propietat'" title="Crear Nova Propietat"></a>
            </div>
            <div class="col-12">

                <table id="table_id" class="table table-striped" style="width:100%">

                    <!-- CAPÇALERA DE LA TAULA -->
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Propietat</th>
                        <th scope="col">Localitat</th>
                        <th scope="col">Direccio</th>
                        <th scope="col">Preu Base</th>
                        <th scope="col">Des.Setmana</th>
                        <th scope="col">Des. Mes</th>
                        <th scope="col">Activa</th>
                        <th scope="col">Configuració Casa</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                    </thead>

                    <!-- COS DE LA DATATABLE -->
                    <tbody>
                    <tr th:each="pr:${propietats}">
                        <th th:text="${pr.idPROPIETAT}"></th>
                        <td th:text="${pr.nomPropietat}"></td>
                        <td th:text="${pr.localitat.nomLocalitat}"></td>
                        <td th:text="${pr.direccio}"></td>
                        <td th:text="${pr.preuBase}"></td>
                        <td th:text="${pr.descompteSetmana}"></td>
                        <td th:text="${pr.descompteMes}"></td>
                        <td th:text="${pr.activa}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/views/propietats/configurar/' + ${pr.idPROPIETAT}}">Configurar casa </a></td>
                        <td><a class="btn btn-danger" th:href="@{'/views/propietats/delete/' + ${pr.idPROPIETAT}}" th:text="'Eliminar Propietat'" title="Eliminar Propietat" onclick="return confirm('Estas segur que vols eliminar el registre?');"></a></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </main>

    <footer>
        <div th:replace="plantilla/template :: footer"></div>
    </footer>

</div>

<script>

    $(document).ready(function() {
        veureTaula();
    });

</script>

</body>

</html>