<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>CRUD Pelicules</title>

    <!-- CSS BOOTSTRAP -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS DATATABLES -->
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- CDN JS DATATABLES-->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- CDN JS DATATABLES + BOOTSTRAP-->
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
<!-- navbar -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">Lloguer Vacacional</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/views/propietats/}">Propietats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/views/propietats/create}">Nova Propietat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/views/habitacions/habitacio}">Habitacions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/views/habitacions/afegir}">Nova Habitacio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Sign In</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--contnet -->
<div class="container"></div>
<!-- footer -->
<footer th:fragment="footer" class="text-center">
    <div class="container">
        <p>Copyright IES MANACOR - 2022</p>
    </div>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</footer>
</body>
</html>